<div class="container-fluid text-center">

  <div class="col-sm-4">
    <img ng-src="{{ detalle.empleado.pic }}" width="200px" alt="{{ detalle.empleado }}">
    <h1>
      {{ detalle.empleado.fullName }}<br>
      <small>{{ detalle.empleado.title }}</small>
    </h1>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li ng-class="{ active:detalle.tab === 1 }"><a href="#" ng-click="detalle.selectTab(1)">Contacto</a></li>
      <li ng-class="{ active:detalle.tab === 2 }"><a href="#" ng-click="detalle.selectTab(2)">Info</a></li>
    </ul>

    <div class="tab-content text-left">

      <div ng-show="detalle.tab === 1">
        <div empleado-contacto></div>
      </div>

      <div ng-show="detalle.tab === 2">
        <empleado-info></empleado-info>
      </div>

    </div>
  </div>

</div>
